body {
  background: #e2e1e0;
  align-content: center;
}

.container {
  /* font-family: "Roboto Slab", serif;
  max-width: 80%;
  margin: 30px auto 30px auto;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
 */

  background-color: #fff;
  width: 600px;
  height: 650px;
  border: 1px solid;
  z-index:auto;
  margin: 30px auto 30px auto;
  padding-left: 30px;
}
