.App {
  width: 100%;
  height: 100vh;
  /* background-color: grey; */

  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.containe {
  width: 95%;
  max-width: 500px;
  margin: 4rem auto;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: rgb(214, 221, 214);
  color: rgb(5, 34, 5);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
