* {
  color: rgb(72, 117, 133);
  background-color: whitesmoke;
}
fieldset {
  margin: 20px auto;
  width: 70%;
  height: max-content;
}

legend {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 3px 50px;
}

ul {
  padding: 0px;
  list-style-position: inside;
}

li {
  font-size: 15px;
}

.ul-list {
  list-style-type: none;
}

.container {
  /* width: 60%; */
  padding: 5px auto 5px auto;
  position: relative;
  padding: 6% 3% 6% 3%;
  display: flex;
  flex-direction: row;
}
.left {
  padding: 4px;
  margin-right: 30px;
  border-right: 3px solid rgb(72, 117, 133);
}

.main-heading {
  margin-bottom: 1px;
}

.heading {
  font-size: 20px;
}

.sub-heading {
  font-size: medium;
}

.lower {
  margin-bottom: 20px;
}
